@import "_mixins";

/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
@import "_null";

@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"),
		url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"),
		url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	line-height: 1;
	background-color: #1a1a1a;
	color: #ffffff;
	font-family: "HelveticaNeueCyr";
}

a {
	color: inherit;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ------------------------------ */

.main {
	flex: 1 0 auto;
}

[class*="_container"] {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

._ibg {
	position: relative;
}

._ibg {
	& img {
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

/*----------КНОПКА------------*/
.btn {
	display: inline-flex;
	color: rgba(255, 255, 255, 0.7);
	font-weight: bold;
	padding: 25px 57px;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	font-size: 18px;
	line-height: 1.22;
	text-align: center;
	letter-spacing: 0.2em;
	transition: 0.25s;
	border: 1px solid rgba(255, 255, 255, 0.7);
	&:hover {
		background-color: #ff7575;
		color: #1a1a1a;
		border: 1px solid #34c759;
	}
	&:active {
		background-color: #ffffff;
	}
}

/*---------------title---------------*/
.title {
	font-size: 36px;
	line-height: 2.5;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: capitalize;
	color: #d9d9d9;
	&::after {
		content: "";
		height: 2px;
		width: 60px;
		display: block;
		background-color: #34c759;
		margin: 30px auto 50px;
		@media (max-width: 341px) {
			margin: 20px auto 30px;
		}
	}
}

/*----------------HEADER--------------------------*/

.header {
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	padding: 10px 0;
	margin: 0px 0px 20px 0px;
	margin: 0px 0px px 0px;

	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		min-height: 65px;
		align-items: center;
		@media (max-width: 700px) {
			min-height: 45px;
		}
	}

	// .header__logo
	&__logo {
	}

	// .header__label
	&__label {
		display: flex;
		column-gap: 10px;
		align-items: center;
	}

	&__logotext {
		padding-top: 25px;
		font-weight: bold;
		letter-spacing: 2px;
		font-size: 20px;
		color: #ff7575;
	}

	// .header__menu
	&__menu {
		@media (max-width: 680px) {
			& {
				display: none;
			}
		}
	}

	// .header__item
	&__item {
		display: flex;
		column-gap: 45px;
	}

	// .header__list
	&__list {
	}

	// .header__link
	&__link {
		transition: 0.25s;
		font-weight: bold;
		font-size: 16px;
		line-height: 1.3;
		&:hover {
			color: #34c759;
		}
	}
}

.menu {
	// .menu__burger
	&__burger {
		display: none;
		@media (max-width: 680px) {
			& {
				display: flex;
				flex-direction: column;
				row-gap: 10px;
			}
		}
	}
	&__burger span {
		height: 2px;
		width: 40px;
		background-color: #ff7575;
	}
}

/*----------------Блок Your----------------------*/

.your {
	// .your__container
	&__container {
		text-align: center;
		padding: 150px 15px 80px 15px;
		max-width: 910px;
		margin: 0 auto;
		@media (max-width: 354.98px) {
			padding: 120px 15px 80px 15px;
		}
	}

	// .your__title
	&__title {
		background-color: rgba(0, 0, 0, 0.4);
		border-radius: 5px;
		font-size: 72px;
		font-weight: 700;
		line-height: 1.16;
		letter-spacing: 0.1em;
		text-transform: capitalize;
		color: #d9d9d9;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (max-width: 625px) {
			font-size: 62px;
		}
		@media (max-width: 549px) {
			font-size: 52px;
		}
		@media (max-width: 452px) {
			font-size: 48px;
		}
		@media (max-width: 421.98px) {
			font-size: 45px;
		}
		@media (max-width: 396.98px) {
			font-size: 40px;
		}
		@media (max-width: 354.98px) {
			font-size: 35px;
		}
	}

	// .your__text
	&__text {
		color: #d9d9d9;
		margin: 0 auto;
		max-width: 570px;
		font-weight: normal;
		font-size: 16px;
		line-height: 1.62;
		letter-spacing: -0.2px;
		mix-blend-mode: normal;
		opacity: 0.7;
		background-color: rgba(0, 0, 0, 0.6);
		&:not(:last-child) {
			margin-bottom: 40px;
		}
		@media (max-width: 396.98px) {
			max-width: 300px;
		}
		@media (max-width: 354.98px) {
			font-size: 14px;
			max-width: 270px;
		}
	}

	// .your__btn
	&__btn {
		&:not(:last-child) {
			margin-bottom: 70px;
		}
	}

	// .your__items
	&__items {
		flex-wrap: wrap;
		display: flex;
		row-gap: 25px;
		justify-content: space-between;
		@media (max-width: 660px) {
			display: flex;
			justify-content: center;
			column-gap: 20px;
		}
	}
}

.item-your {
	min-width: 210px;
	max-width: 210px;
	// .item-your__icon
	&__icon {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (max-width: 469.98px) {
			&:not(:last-child) {
				margin-bottom: 6px;
			}
		}
	}

	// .item-your__title
	&__title {
		font-weight: normal;
		font-size: 16px;
		line-height: 1.8;
	}

	// .item-your__text
	&__text {
		font-weight: normal;
		font-size: 14px;
		line-height: 2;
		opacity: 0.5;
	}
}

.your {
	position: relative;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		position: absolute;
		top: 0;
		left: 0;
		display: block;
	}
	// .your__img
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: -4px;
		z-index: -10;
		object-fit: cover;
	}
}

/*--------------блок WORK-------------*/

.work {
	// .work__container
	&__container {
		font-weight: normal;
		padding-top: 80px;
		padding-bottom: 160px;
		@media (max-width: 700px) {
			padding-bottom: 120px;
		}
	}
	// .work__title
	&__title {
		background: url(../img/main/work/EVENTS.png) center 12px no-repeat;
		margin: 0 auto;
		@media (max-width: 341px) {
			font-size: 30px;
			background: url(../img/main/work/EVENTS.png) center 5px / 100% no-repeat;
		}
	}
	// .work__items
	&__items {
		display: flex;
		margin: 0 -15px;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: 25px;
		// @media (max-width: 917px) {
		// 	flex: 50%;
		// }
	}
	// .work__item
	&__item {
		display: flex;
		flex-direction: column;
		padding: 0 15px;
		flex: 25%;
		@media (max-width: 917px) {
			flex: 50%;
		}
		@media (max-width: 481px) {
			flex: 100%;
		}
	}
}

.item-work {
	height: 100%;
	transition: 0.2s;
	background-color: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	padding: 24px 24px 42px 24px;
	@media (max-width: 481px) {
		text-align: center;
	}
	&:hover * {
		color: #000;
	}
	&:hover {
		background-color: #34c759;
	}
	&:hover &__title::after {
		background-color: #000;
	}
	// .item-work__title
	&__title {
		font-size: 22px;
		line-height: 1.18;
		letter-spacing: -0.275px;
		text-transform: capitalize;
		color: #ffffff;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
		&::after {
			content: "";
			width: 56px;
			height: 1.5px;
			display: block;
			background-color: #34c759;
			margin-top: 12px;
			@media (max-width: 481px) {
				margin: 12px auto;
			}
		}
		@media (max-width: 341px) {
			font-size: 20px;
		}
	}
	// .item-work__text
	&__text {
		font-size: 13px;
		line-height: 1.38;
		letter-spacing: -0.1625px;
		color: rgba(255, 255, 255, 0.5);
	}
}

/*-------------блок DISH---------------*/

.dish {
	// .dish__container
	&__container {
		padding-bottom: 160px;
	}
	// .dish__title
	&__title {
		@media (max-width: 426px) {
			font-size: 30px;
			background: url(../img/main/dish/EVENTS01.png) center 5px / 100% no-repeat;
		}
		@media (max-width: 340px) {
			font-size: 28px;
			background: url(../img/main/dish/EVENTS01.png) center 5px / 100% no-repeat;
		}
		background: url(../img/main/dish/EVENTS01.png) center 12px no-repeat;
	}
	// .dish__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		row-gap: 30px;
		margin: 0 -15px;
	}
	// .dish__item
	&__item {
		padding: 0 15px;
		flex: 1 1 33.333%;
		// display: flex;
		// flex-direction: column;
	}
}

.item-dish {
	display: flex;
	flex-direction: column;
	min-width: 280px;
	height: 100%;
	background-color: #252525;
	// .item-dish__picture
	&__picture {
		padding: 0 0 74.2857143% 0px;
	}
	// .item-dish__img
	&__img {
		border-radius: 6px 6px 0px 0px;
	}
	// .item-dish__body
	&__body {
		display: flex;
		flex-direction: column;
		padding: 30px;
	}
	// .item-dish__title
	&__title {
		font-weight: normal;
		font-size: 32px;
		line-height: 1.2;
		color: #d9d9d9;
	}
	// .item-dish__subtitle
	&__subtitle {
		font-weight: normal;
		font-size: 16px;
		line-height: 1.3;
		letter-spacing: -0.15px;
		color: darkturquoise;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	// .item-dish__text
	&__text {
		flex: 1 1 auto;
		font-weight: normal;
		font-size: 15px;
		line-height: 1.38;
		letter-spacing: -0.1625px;
		color: #85878c;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	// .item-dish__rating
	&__rating {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		row-gap: 10px;
		align-items: center;
		@media (max-width: 1034.98px) {
			justify-content: center;
		}
		@media (max-width: 989.98px) {
			justify-content: center;
		}
		@media (max-width: 929.98px) {
			justify-content: space-between;
		}
		@media (max-width: 689.98px) {
			justify-content: center;
		}
		@media (max-width: 659.98px) {
			justify-content: center;
		}
		@media (max-width: 619.98px) {
			justify-content: space-between;
		}
		@media (max-width: 344.98px) {
			justify-content: center;
		}
	}
	// .item-dish__icon
	&__icon {
		padding: 5px;
		// @media (max-width: 1064px) {
		// 	transform: scale(0.8);
		// }
	}
	// .item-dish__btn
	&__btn {
		flex: 1 1 auto;
		transition: 0.2s;
		background-color: #34c759;
		font-style: normal;
		padding: 2px 20px 0 22px;
		font-weight: 900;
		font-size: 10px;
		line-height: 4;
		border-radius: 40px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #252525;
		border: 1px solid #34c759;
		&:hover {
			background-color: #252525;
			color: #d9d9d9;
		}
	}
}

/*--------------блок RECIPES-------------*/

.recipes {
	// .recipes__container
	&__container {
		padding-bottom: 100px;
	}
	// .recipes__title
	&__title {
		@media (max-width: 585px) {
			font-size: 30px;
			// background: url(../img/main/recipes/icon/EVENTS.png) center 5px / 100% no-repeat;
			// line-height: 1.5;
		}
		@media (max-width: 493px) {
			line-height: 1.5;
			background: url(../img/main/recipes/icon/EVENTS.png) center 5px / 100% no-repeat;
		}
		// @media (max-width: 340px) {
		// 	font-size: 28px;
		// 	background: url(../img/main/dish/EVENTS01.png) center 5px / 100% no-repeat;
		// }
		background: url(../img/main/recipes/icon/EVENTS.png) center 12px no-repeat;
	}
	// .recipes__items
	&__items {
		margin: 0 -15px;
		display: flex;
		flex-wrap: wrap;
		row-gap: 40px;
	}
	// .recipes__item
	&__item {
		padding: 0 15px;
		flex: 0 1 50%;
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		@media (max-width: 1021px) {
			flex: 100%;
		}
	}
}

.item-recipes {
	height: 100%;
	position: relative;
	// .item-recipes__bg
	&__bg {
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -10;
		border-radius: 8px;
	}
	// .item-recipes__body
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 60px 90px;
		@media (max-width: 443px) {
			padding: 30px 70px;
		}
	}
	// .item-recipes__subtitle
	&__subtitle {
		display: inline-flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		padding: 0 15px;
		background-color: rgba(0, 0, 0, 0.7);
		border-radius: 5px;
		font-weight: 900;
		font-size: 10px;
		line-height: 2.5;
		text-align: center;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #ffffff;
		&:not(:last-child) {
			margin-bottom: 65px;
			@media (max-width: 443px) {
				margin-bottom: 50px;
			}
		}
	}
	// .item-recipes__number
	&__number {
		font-weight: normal;
		font-size: 14px;
		line-height: 2.14;
		color: #ffffff;
		&:not(:last-child) {
			margin-bottom: 25px;
			@media (max-width: 443px) {
				margin-bottom: 18px;
			}
		}
	}
	// .item-recipes__title
	&__title {
		font-weight: normal;
		font-size: 24px;
		line-height: 1.67;
		color: #ffffff;
		&:not(:last-child) {
			margin-bottom: 45px;
			@media (max-width: 443px) {
				margin-bottom: 38px;
			}
		}
		@media (max-width: 443px) {
			font-size: 20px;
		}
	}
	// .item-recipes__name
	&__name {
		font-weight: normal;
		font-size: 14px;
		line-height: 2.14;
		color: #ffffff;
		&:not(:last-child) {
			margin-bottom: 60px;
			@media (max-width: 443px) {
				margin-bottom: 40px;
			}
		}
	}
	// .item-recipes__icon
	&__icon {
	}
	// .item-recipes__visited
	&__visited {
	}
}

.review-recipes {
	height: 100%;
	display: flex;
	flex-direction: column;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	padding: 30px 20px 25px 30px;
	@media (max-width: 1021px) {
		max-width: 750px;
		margin: 0 auto;
	}
	// .review-recipes__text
	&__text {
		font-weight: normal;
		font-size: 16px;
		line-height: 1.87;
		color: #ffffff;
		&:not(:last-child) {
			margin-bottom: 10px;
			@media (max-width: 419px) {
				margin-bottom: 20px;
				text-align: center;
			}
		}
	}
	// .review-recipes__footer
	&__footer {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 30px;
		row-gap: 10px;
		@media (max-width: 419px) {
			justify-content: space-between;
			column-gap: 10px;
		}
	}
	// .review-recipes__subtitle
	&__btn {
		display: inline-flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		padding: 0 10px;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 5px;
		font-weight: 900;
		font-size: 10px;
		line-height: 2.5;
		text-align: center;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #ffffff;
		@media (max-width: 419px) {
			width: 100%;
			padding: 10px 0;
			font-size: 12px;
			letter-spacing: 8px;
		}
	}
	// .review-recipes__number
	&__number {
		font-weight: normal;
		font-size: 14px;
		line-height: 2.14;
		color: #ffffff;
	}
	// .review-recipes__visited
	&__visited {
	}
}
